/* css page for project 'Sports Equipment' developped by Chihyin */

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  color: #283618;
  margin: 30px auto;
}


#freeshipping {
  margin-bottom: 10px;
  padding: 6px;
  background-color: #DAD7CD;
  font-size: 0.8rem;
  color: #344E41;
}

#freeshipping a {
  color: #344E41;
}




#second {
  margin: 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  margin-left: 26vw;
  margin-right: auto;
  transition: all 0.3s;
}

#logo:hover {
  opacity: 0.6;
}


#second a {
  text-decoration: none;
  color: #1a2520;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#second a:hover {
  color: #588157;
  font-size: large;
  transition: all 0.5s;
}

#second button {
  all: unset;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

#second button:hover {
  color: #588157;
  transition: all 0.8s;
  opacity: 2;
}



#top-nav {
  margin: 25px 0;
}

#top-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

@media screen and (max-width: 650px) {
  #top-nav ul {
    flex-direction: column;
  }
}

#top-nav li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #344E41;
  position: relative;
}

#top-nav li a,
#top-nav li a:after,
#top-nav li a:before {
  transition: all .5s;
}

#top-nav li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

#top-nav li a:hover::after {
  width: 100%;
  font-weight: bolder;
}




section {
  width: 100%;
  height: 525px;
  margin: 0 auto;
  background: no-repeat center/cover url("./images/equipment.png");
}

section div {
  padding: 60px 0;
  margin: 20px 0;
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

section div h1 {
  font-size: 4rem;
  color: white;
}

section div a {
  width: 70px;
  height: auto;
  background-color: #2c3f35;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  color: beige;
  padding: 5px 10px;
  border-radius: 20px;
  transition: all 0.5s;
}

section a:hover {
  color: #2c3f35;
  background-color: beige;
  font-size: x-large;
}




#sports {
  width: 100%;
  height: auto;
  margin-top: 30px;
  color: #344E41;
}

.img {
  width: 100%;
  min-height: 80vh;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#sports img {
  opacity: 0.7;
  display: grid;
  width: 100%;
  max-width:600px;
  max-height: 400px;
}

#sports img:hover {
  transition: all 0.7s;
  opacity: 1;
}




.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#signUp {
  width: 100%;
  height: 270px;
  background-color: #588157;
  margin: 40px auto;
  padding-top: 30px;
  color: white;
}

#email {
  border-style: none;
  border-radius: 5px;
  height: 25px;
}

#signUp button {
  width: 70px;
  height: 25px;
  padding: 5px 3px;
  background-color: #2c3f35;
  color: beige;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact {
  width: 100%;
  height: auto;
  padding: 10px 100px;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact ul{
  list-style-type: none;
}

#help {
  font-size: 1.3rem;
}

#aboutus {
  font-size: 1.3rem;
}

#contact li a{
  text-decoration: none;
  color: black;
  transition: all 0.7s;
}

#contact li a:hover {
  color: #588157;
  font-size: 1.1rem;
  opacity: 1.5;
}

#socialMedia {
  color: #344E41;
  font-size: 1.3rem;
  margin-top: 20px;
}

#socialMedia span:hover {
  cursor: pointer;
  font-size: xx-large;
  transition: all 0.8s;
  opacity: 2;
}

#copyright {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #344E41;
  font-size: 0.8rem;
}



/* **************************************************** */
/* signin.html */
form {
  margin: 30px 0;
}

input[type=email], input[type=password] {
  text-align: left;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#remember {
  font-size: small;
}

button {
  background-color: #2c3f35;
  color: beige;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  transition: all 0.5s;
}

button:hover {
  background-color: beige;
  color: #2c3f35;
  border-radius: 10px;
}

form a {
  text-decoration: none;
  color: #2c3f35;
}


/* **************************************************** */
/* women, men, kids */
.listingMenu ul {
  list-style-type: none;
  margin: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listingMenu li a {
  text-decoration: none;
  color: black;
  max-width: 150px;
  max-height: auto;
  margin: 15px;
  padding: 15px 15px;
  border: 2px solid #2c3f35;
  border-radius: 10px;
  font-style: oblique;
  opacity: 0.8;
}

.listingMenu li a:hover {
  color: #588157;
  transition: all 0.6s;
}

@media screen and (max-width: 1430px) {
  .listingMenu ul {
    gap: 40px;
  }
}

.gallery {
  margin-top: 50px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallery img {
  width: auto;
  height: 350px;
  margin: 50px;
  padding: 10px;
}

.gallery a:hover {
  opacity: 0.8;
}

/* **************************************************** */
/* brands */
h2 {
  color: #2c3f35;
  margin: 10px 0;
}

hr {
  margin: 20px 35px;
}
 #a-z ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  cursor: pointer;
 }

 @media screen and (max-width: 700px) {
  #a-z ul {
    gap: 15px;
    margin: auto 15px;
  }
}

.brands ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.brands li a{
  text-decoration: none;
  color: black;
}


/* **************************************************** */
/* sales */
.sales h1{
  color: black;
}


/* **************************************************** */
/* activities - camping, hiking, winterSports, waterSports */
.activitieswrapper {
  width: 100vw;
  height: auto;
  margin: 80px 0 40px 40px;
}

.activitieswrapper .sidebar {
  float: left;
}

.activitieswrapper li {
  list-style-type: none;
  line-height: 2;
}

.activitieswrapper .sidebar li a {
  text-decoration: none;
  color: #2c3f35;
}

.activitieswrapper .sidebar li a:hover {
  font-size: larger;
  transition: all 0.5s;
}

.products {
  column-count: 3;
}

.products img {
  width: auto;
  height: 180px;
  margin-bottom: 60px;
}
